.wrapper {
	display: flex;
	align-items: center;
	margin: 10px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	vertical-align: top;
	border: 1pt solid gray;
	border-radius: 5px;
	width: 268px;
	height: 70px;
}

.simpleInputWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	vertical-align: top;
	width: 95%;
}

.inputTitle{
	font-size: 0.8rem;
	padding: 1px 20px;
	height: 20px;
}

.inputSubwrapper {
	padding: 1px 5px;
}