/* AncizarSerif-Light */
@font-face {
	font-family: 'AncizarSerif';
	font-style: normal;
	font-weight: 300;
	src: local(''), url('../../assets/fonts/AncizarSerif-Light') format('opentype');
}

/* AncizarSerif-LightItalic */
@font-face {
	font-family: 'AncizarSerif';
	font-style: italic;
	font-weight: 300;
	src: local(''), url('../../assets/fonts/AncizarSerif-LightItalic') format('opentype');
}

/* AncizarSerif-Regular */
@font-face {
	font-family: 'AncizarSerif';
	font-style: normal;
	font-weight: 500;
	src: local(''), url('../../assets/fonts/AncizarSerif-Regular') format('opentype');
}

/* AncizarSerif-RegularItalic */
@font-face {
	font-family: 'AncizarSerif';
	font-style: italic;
	font-weight: 500;
	src: local(''), url('../../assets/fonts/AncizarSerif-RegularItalic') format('opentype');
}

/* AncizarSerif-Semibold */
@font-face {
	font-family: 'AncizarSerif';
	font-style: normal;
	font-weight: 600;
	src: local(''), url('../../assets/fonts/AncizarSerif-Semibold') format('opentype');
}

/* AncizarSerif-SemiboldItalic */
@font-face {
	font-family: 'AncizarSerif';
	font-style: italic;
	font-weight: 600;
	src: local(''), url('../../assets/fonts/AncizarSerif-SemiboldItalic') format('opentype');
}

/* AncizarSerif-Bold */
@font-face {
	font-family: 'AncizarSerif';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('../../assets/fonts/AncizarSerif-Bold') format('opentype');
}

/* AncizarSerif-BoldItalic */
@font-face {
	font-family: 'AncizarSerif';
	font-style: italic;
	font-weight: 700;
	src: local(''), url('../../assets/fonts/AncizarSerif-BoldItalic') format('opentype');
}

/* AncizarSerif-Extrabold */
@font-face {
	font-family: 'AncizarSerif';
	font-style: normal;
	font-weight: 800;
	src: local(''), url('../../assets/fonts/AncizarSerif-Extrabold') format('opentype');
}

/* AncizarSerif-ExtraboldItalic */
@font-face {
	font-family: 'AncizarSerif';
	font-style: italic;
	font-weight: 800;
	src: local(''), url('../../assets/fonts/AncizarSerif-ExtraboldItalic') format('opentype');
}

/* AncizarSerif-Black */
@font-face {
	font-family: 'AncizarSerif';
	font-style: normal;
	font-weight: 900;
	src: local(''), url('../../assets/fonts/AncizarSerif-Black') format('opentype');
}

/* AncizarSerif-BlackItalic */
@font-face {
	font-family: 'AncizarSerif';
	font-style: italic;
	font-weight: 900;
	src: local(''), url('../../assets/fonts/AncizarSerif-BlackItalic') format('opentype');
}
