@import '../../../styles/mixins/colors';

.footer {
   margin: 0px 20px;
   padding: 10px 20px;
   border-top: 2px solid $green;
   font-size: small;

   & span {
      line-break: anywhere;
   }

   & .unalimage {
      height: 100%;
      width: 100%;
      display: flex;
   }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.99px) { 
   .leftBorder {
      border-left: 2px solid $green
   }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.99px) { 
   .leftBorder {
      border-left: 2px solid $green
   }
}

/* Large devices (desktops, more than 1200px) */
@media (min-width: 1200px) { 
   .leftBorder {
      border-left: 2px solid $green
   }
}