.commands {
	display: contents;
	flex-direction: row;
	gap: 15px;
	max-width: 10px
}

.command {
	margin: 10px;
}

.margin{
	padding: 0px 10px;
}

.icon {
	-webkit-writing-mode: vertical-lr;
	vertical-align: text-top;
	cursor: pointer;
}
