.button {
	height: fit-content;
	min-width: 50px;
	width: fit-content;
	width: -webkit-fill-available;
	min-height: 60px;
}

// Override bootstrap styles
.input {
	width: 100px !important;
	flex: inherit !important;
}

.title {
	margin-bottom: 4px;
	text-transform: uppercase;
}

.command_name {
	width: 80px;
	min-width: fit-content;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

.inputGroup {
	place-content: center
}
