@import '../../../styles/mixins/colors';

.wrapper {
	display: flex;
	align-items: center;
	margin: 10px;
}

.datetimepickerWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	vertical-align: top;
	border: 1pt solid gray;
	border-radius: 5px;
	min-width: 250px;
	height: 70px;
}

.datetimepickerTitle{
	font-size: 0.8rem;
	padding: 1px 20px;
	height: 20px;
}

.datetimepickerSubwrapper {
	padding: 3px 5px;
}

.datetimepicker {
	margin-right: 5px;
	border: 0px;
	width: 210px;
	height: 40px;
}


