@import '../../../styles/mixins/colors';

.wrapper {
	display: flex;
	align-items: center;
	margin: 10px;
}

.textLabelWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	vertical-align: top;
	border: 1pt solid gray;
	border-radius: 5px;
	min-width: 250px;
	height: 70px;
}

.textLabelTitle{
	font-size: 0.8rem;
	padding: 1px 20px;
	height: 20px;
}

.textLabelSubwrapper {
	padding: 10px 15px;
}

.textLabel {
	margin-right: 5px;
	border: 0px;
	width: 210px;
	height: 40px;
}


