@import '../../../styles/mixins/colors';

$spinner-radius: 17px;

.wrapper {
	position: relative;
	min-height: 200px;
}

.overlay {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba($color: $black, $alpha: 0.1);
}

.indicator {
	z-index: 99;
	position: absolute;
	top: calc(50% - #{$spinner-radius});
	left: calc(50% - #{$spinner-radius});
}
