@import '../../../styles/mixins/colors';

.table {
	position: relative;
}

.hoverRow:hover {
	background-color: #e9ecef;
	cursor: default;
}

.stickyHeader {
	z-index: 98;
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	/* Requerido para sobreescribir el estilo de bootstrap */
	background-color: $white !important;
}

.actionIcon {
	cursor: pointer;
	user-select: none;
	fill: $gray-700;
	&:first-child {
		margin-right: 5px;
	}
	&.delete {
		fill: $red-dark;
	}
}

.rowTransition {
	animation-name: example;
	animation-duration: 0.5s;
 }
 
 @keyframes example {
	from {color: white;}
	to {color: black;}
 }
