.inputWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	vertical-align: top;
	border: 1pt solid gray;
	border-radius: 5px;
	min-width: 250px;
	height: 52px;
}

.inputTitle{
	font-size: 0.8rem;
	padding: 1px 20px
}

.inputSubwrapper {
	padding: 1px 5px;
}

.input {
	margin-right: 5px;
	border: 0px;
	width:210px
}

.input :focus {
	color: green;
}
