.justifyStart {
	display: flex;
	justify-content: flex-start;
}

.justifyCenter {
	display: flex;
	justify-content: center;
}

.justifyEnd {
	display: flex;
	justify-content: flex-end;
}

.button {
	line-height: 0;
	min-width: 80px;
	min-height: 28px;
	width: fit-content;
}
