@use './mixins/typography';
@import './mixins/bootstrapTheme';

html,
body {
	height: 100vh;
}

#root {
	height: 100%;
}

* {
	font-family: 'AncizarSerif';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $black;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section {
	padding: 0 3% 1%;
	margin: 3% 0%;
}

.title {
	border-bottom: 1px solid $green;
}

#dropdown-basic-button{
	inline-size: -webkit-fill-available;
}

.errorMessage {
	margin: 10px;
	font-size: .8rem;
	color: red
}


.react-datetime-picker__calendar {
	z-index: 999 !important;
}