@use './mixins/typography';
@import './mixins/bootstrapThemes';

html,
body,
* {
	font-family: 'AncizarSerif';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
