@use './mixins/typography';
@import './mixins/bootstrapTheme';

html,
body {
	height: 100vh;
}

#root {
	height: 100%;
}

* {
	font-family: 'AncizarSerif';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $black;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section {
	padding: 0 1% 1%;
	margin: 2% 0%;
}

.title {
	border-bottom: 1px solid $green;
}

#dropdown-basic-button{
	inline-size: -webkit-fill-available;
}

.errorMessage {
	margin: 10px;
	font-size: .8rem;
	color: red
}

.justifyCenter {
	display: flex;
	justify-content: center;
}

.justifyEnd {
	display: flex;
	justify-content: flex-end;
}