@import '../../../styles/mixins/colors';

.section {
   padding: 0 3% 8px !important;
   margin: 3% 0% !important;
}

.title {
   border-bottom: 1px solid $green;
}

.commands {
   display: flex !important;
   flex-direction: row !important
}

.command {
   margin: 10px;
}